.about-us-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.about-us-content {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
  padding: 0 5%;
}

.about-us-text {
  position: relative;
  flex: 1.5;
  font-size: 3rem;
  font-weight: bolder;
  color: #141414;
  padding: 20px;
  box-sizing: border-box;
  line-height: 0.9;
  text-align: left;
}

.about-us-text::before {
  content: '';
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 20%;
  background-color: #a7ccfc;
  z-index: -1;
}

.about-us-description {
  letter-spacing: 3px;
  font-size: 1rem;
  line-height: 1;
  font-weight: lighter;
  border-left: 3px solid #a7ccfc;
  padding-left: 1%;
}

.about-us-img-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
}

.about-us-img {
  max-height: 500px;
  width: auto;
}

.about-us-wave-svg {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: -50px;
}

.about-us-video-h2{
  font-size: 3rem;
  color: #141414;
  padding: 10px
}

.about-us-video-container {
  width: 100%;
  text-align: center;
  background: #a7ccfc;
  padding-bottom: 50px;
  position: relative;
  z-index: -1;
}

.about-us-video {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .about-us-content {
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }

  .about-us-text {
    font-size: 2rem;
    padding: 20px 0;
    text-align: center;
  }

  .about-us-text::before {
    top: 23%;
    left: 50%;
    width: 100%;
    height: 15%;
  }

  .about-us-img {
    margin-top: 20px;
  }

  .about-us-video iframe {
    width: 100%;
    height: 225px;
  }
}
