.footer {
    margin: 5% 0 0 0;
    background-color: #ffffff;
    color: #2b2b2b;
    padding: 10px 1%;
    box-sizing: border-box;
    border-top: 2px solid #2b2b2b;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    margin: 20px;
  }
  
  .footer-section h4 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #a7ccfc;
  }
  
  .footer-section p,
  .footer-section a {
    font-size: 1rem;
    color: #121212;
    text-decoration: none;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }
  
  .footer-social-icons a {
    font-size: 1.5rem;
    margin-right: 15px;
    color: #ffffff;
    transition: color 0.3s ease;
  }
  
  .footer-social-icons a:hover {
    color: #a7ccfc;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #2b2b2b;
    padding-top: 20px;
  }
  
  .footer-bottom p {
    margin: 0;
    font-size: 0.9rem;
    color: #888888;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      align-items: left;
      padding: 10px;
    }
  
    .footer-section {
      margin: 10px 0;
      width: 100%;
      text-align: left;
    }
  
    .footer-social-icons a {
      margin-right: 10px;
      font-size: 1.3rem;
    }
  
    .footer-bottom {
      padding-top: 10px;
    }
  
    .footer-bottom p {
      font-size: 0.8rem;
    }
  }
  